{% comment %}
  use text-slate-200 for changing icon color, not fill-colorValue
  PARAMS:
      icon ----> Icon name
      size ----> "l" = 40x40px, "m" = 24x24px, "s" = 16x16px;
      class ----> custom tailwind classes if needed;
{% endcomment %}
{% case size %}
  {% when 'sm' %}
    {% assign size = 'w-4 h-4' %}
  {% when 'md' %}
    {% assign size = 'w-6 h-6' %}
  {% when 'lg' %}
    {% assign size = 'w-10 h-10' %}
{% endcase %}

{% assign classes = size | append: ' ' | append: class %}

{% case name %}
  {% when 'accordion-icon' %}
    <div class="relative {{ classes }}">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 11H0V13H24V11Z" fill="currentColor"/>
      </svg>
      <svg
        class="ease absolute inset-0 duration-200"
        :class="isOpen ? 'rotate-0' : 'rotate-90'"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M24 11H0V13H24V11Z" fill="currentColor"/>
      </svg>
    </div>
  {% when 'chevron' %}
    <svg
      class="{{ classes }}"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_132_1899)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.12212 11.2605L9.94663 8.50984L7.12212 5.74021C6.73422 5.37125 7.36219 4.7433 7.75007 5.11226L10.9626 8.25078C11.0921 8.38028 11.1104 8.61974 10.9809 8.74924L7.7501 11.8878C7.36221 12.2567 6.73486 11.6294 7.12215 11.2598L7.12212 11.2605Z" fill="currentColor"/>
      </g>
      <defs>
        <clipPath id="clip0_132_1899">
          <rect width="8" height="7.99992" fill="currentColor" transform="translate(5 4.00004)"/>
        </clipPath>
      </defs>
    </svg>

  {% when 'help' %}
    <svg
      class="{{ classes }}"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M6.56347 7.20001C6.56347 7.43797 6.36547 7.59603 6.16745 7.59603C5.92949 7.59603 5.77143 7.43739 5.77143 7.20001C5.77143 5.85274 6.88133 4.74286 8.22858 4.74286C9.57583 4.74286 10.6857 5.85275 10.6857 7.20001C10.6857 8.4286 9.81379 9.45914 8.62521 9.65716V10.1325C8.62521 10.3305 8.42721 10.5285 8.22919 10.5285C7.99122 10.5285 7.83316 10.3305 7.83316 10.1325V9.3005C7.83316 9.06254 7.9918 8.86453 8.22919 8.86453C9.14049 8.86453 9.89367 8.15124 9.89367 7.20005C9.89367 6.28875 9.14043 5.53557 8.22919 5.53557C7.31789 5.53557 6.5647 6.28881 6.5647 7.20005L6.56347 7.20001Z" fill="currentColor"/>
      <path d="M8.22795 11.0443C8.46592 11.0443 8.70329 11.2423 8.70329 11.4803C8.70329 11.7576 8.46532 11.9556 8.22795 11.9556C7.98999 11.9556 7.79199 11.7576 7.79199 11.4803C7.79199 11.2423 7.98999 11.0443 8.22795 11.0443Z" fill="currentColor"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8ZM2.27001 8C2.27001 11.1646 4.83541 13.73 8 13.73C11.1646 13.73 13.73 11.1646 13.73 8C13.73 4.83541 11.1646 2.27001 8 2.27001C4.83541 2.27001 2.27001 4.83541 2.27001 8Z" fill="currentColor"/>
    </svg>

  {% when 'help_filled' %}
    <svg
      class="{{ classes }}"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Frame">
        <path id="Vector" d="M11.9997 1.28369C6.09064 1.28369 1.2832 6.09113 1.2832 12.0002C1.2832 17.9092 6.09064 22.7167 11.9997 22.7167C17.9087 22.7167 22.7162 17.9092 22.7162 12.0002C22.7162 6.09113 17.9087 1.28369 11.9997 1.28369ZM11.1381 17.1799C11.1381 16.9089 11.3584 16.6886 11.6294 16.6886C11.9003 16.6886 12.1206 16.9089 12.1206 17.1799V17.253C12.1206 17.5239 11.9003 17.7442 11.6294 17.7442C11.3585 17.7442 11.1381 17.5239 11.1381 17.253V17.1799ZM11.6387 16.0933C11.3678 16.0933 11.1475 15.873 11.1475 15.602C11.1475 13.0024 12.205 12.2956 13.0553 11.7272C13.7584 11.2566 14.2666 10.9172 14.2666 9.50631C14.2666 8.25569 13.2494 7.23944 11.9997 7.23944C10.75 7.23944 9.73281 8.25663 9.73281 9.50631C9.73281 9.77724 9.5125 9.99756 9.24156 9.99756C8.97062 9.99756 8.7503 9.77725 8.7503 9.50631C8.7503 7.7138 10.2081 6.25599 12.0006 6.25599C13.7931 6.25599 15.2509 7.7138 15.2509 9.50631C15.2509 11.4422 14.3369 12.0534 13.6019 12.5447C12.8125 13.0725 12.1309 13.5282 12.1309 15.6028C12.13 15.8728 11.9097 16.0933 11.6387 16.0933Z" fill="#054A49"/>
      </g>
    </svg>

  {% when 'close' %}
    <svg
      class="{{ classes }}"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M7.50081 8.00801L5.10347 10.3654C4.77475 10.6822 5.30724 11.2192 5.63648 10.903L7.99964 8.58495L10.3636 10.9037C10.6928 11.2199 11.2253 10.6829 10.8966 10.3662L8.49922 8.00874L10.8966 5.6351C11.2258 5.31889 10.6928 4.78072 10.3636 5.09692L8.00039 7.42819L5.63645 5.09619C5.30723 4.77998 4.77423 5.31816 5.10347 5.63437L7.50081 8.00801Z" fill="currentColor"/>
    </svg>

  {% when 'cart' %}
    <svg
      class="{{ classes }}"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M11.9937 7.40257H3.89589C3.56321 7.40262 3.23495 7.47873 2.93621 7.6251C2.63747 7.77148 2.37615 7.98422 2.17224 8.24708C1.96834 8.50994 1.82724 8.81595 1.75974 9.1417C1.69224 9.46746 1.70013 9.80433 1.7828 10.1266L4.02025 18.8538C4.14067 19.3232 4.41394 19.7392 4.79696 20.0361C5.17997 20.333 5.65092 20.4939 6.13552 20.4935H17.8519C18.3361 20.4934 18.8066 20.3323 19.1891 20.0354C19.5717 19.7386 19.8446 19.3229 19.965 18.8538L22.2035 10.1266C22.2862 9.80433 22.2941 9.46746 22.2266 9.1417C22.1591 8.81595 22.018 8.50994 21.8141 8.24708C21.6102 7.98422 21.3489 7.77148 21.0501 7.6251C20.7514 7.47873 20.4231 7.40262 20.0904 7.40257H11.9937ZM11.9937 7.40257V0.857117Z" fill="currentColor"/>
      <path d="M11.9937 7.40257H3.89589C3.56321 7.40262 3.23495 7.47873 2.93621 7.6251C2.63747 7.77148 2.37615 7.98422 2.17224 8.24708C1.96834 8.50994 1.82724 8.81595 1.75974 9.1417C1.69224 9.46746 1.70013 9.80433 1.7828 10.1266L4.02025 18.8538C4.14067 19.3232 4.41394 19.7392 4.79696 20.0361C5.17997 20.333 5.65092 20.4939 6.13552 20.4935H17.8519C18.3361 20.4934 18.8066 20.3323 19.1891 20.0354C19.5717 19.7386 19.8446 19.3229 19.965 18.8538L22.2035 10.1266C22.2862 9.80433 22.2941 9.46746 22.2266 9.1417C22.1591 8.81595 22.018 8.50994 21.8141 8.24708C21.6102 7.98422 21.3489 7.77148 21.0501 7.6251C20.7514 7.47873 20.4231 7.40262 20.0904 7.40257H11.9937ZM11.9937 7.40257V0.857117" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'cart-2' %}
    <svg
      class="{{ classes }}"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="help">
        <path id="Vector" d="M13.9999 8.90931H4.55244C4.16432 8.90936 3.78135 8.99817 3.43282 9.16893C3.08429 9.3397 2.77942 9.58791 2.54153 9.89458C2.30363 10.2012 2.13902 10.5582 2.06027 10.9383C1.98152 11.3183 1.99072 11.7114 2.08717 12.0873L4.69753 22.2691C4.83803 22.8168 5.15684 23.302 5.60369 23.6484C6.05054 23.9948 6.59998 24.1825 7.16535 24.182H20.8344C21.3994 24.182 21.9482 23.994 22.3946 23.6476C22.8409 23.3013 23.1593 22.8163 23.2997 22.2691L25.9114 12.0873C26.0078 11.7114 26.017 11.3183 25.9383 10.9383C25.8595 10.5582 25.6949 10.2012 25.457 9.89458C25.2191 9.58791 24.9142 9.3397 24.5657 9.16893C24.2172 8.99817 23.8342 8.90936 23.4461 8.90931H13.9999ZM13.9999 8.90931V1.27295" stroke="#054A49" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </svg>

  {% when 'search' %}
    <svg
      class="{{ classes }}"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M13.9999 21.6364C18.9203 21.6364 22.909 17.6476 22.909 12.7273C22.909 7.80691 18.9203 3.81818 13.9999 3.81818C9.07956 3.81818 5.09082 7.80691 5.09082 12.7273C5.09082 17.6476 9.07956 21.6364 13.9999 21.6364Z" stroke="currentColor" stroke-width="2"/>
      <path d="M20.3638 19.0909L24.182 22.9091L20.3638 19.0909Z" fill="currentColor"/>
      <path d="M20.3638 19.0909L24.182 22.9091" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'burger' %}
    <svg
      class="{{ classes }}"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.27295 6.36365H26.7275H1.27295ZM1.27295 14H26.7275H1.27295ZM1.27295 21.6364H26.7275H1.27295Z" fill="currentColor"/>
      <path d="M1.27295 6.36365H26.7275M1.27295 14H26.7275M1.27295 21.6364H26.7275" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>

  {% when 'account' %}
    <svg
      class="{{ classes }}"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M14.0001 14C16.8117 14 19.091 11.7207 19.091 8.90908C19.091 6.09745 16.8117 3.81818 14.0001 3.81818C11.1885 3.81818 8.90918 6.09745 8.90918 8.90908C8.90918 11.7207 11.1885 14 14.0001 14Z" stroke="currentColor" stroke-width="2"/>
      <path d="M4.45459 24.1818C6.26314 20.3967 9.85986 17.8182 14 17.8182C18.1402 17.8182 21.737 20.3967 23.5455 24.1818" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>

  {% when 'media-play' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
      <path d="M15 0C11.0214 0 7.206 1.58085 4.3935 4.3935C1.581 7.20615 0 11.0217 0 15C0 18.9783 1.58085 22.794 4.3935 25.6065C7.20615 28.419 11.0217 30 15 30C18.9783 30 22.794 28.4192 25.6065 25.6065C28.419 22.7939 30 18.9783 30 15C30 11.0217 28.4192 7.206 25.6065 4.3935C22.7939 1.581 18.9783 0 15 0ZM19.8024 15.4056L12.5415 19.5987C12.3962 19.6819 12.2181 19.6819 12.0728 19.5987C11.9274 19.5143 11.8384 19.3596 11.8384 19.1921V10.8085C11.8384 10.641 11.9274 10.4863 12.0728 10.4019C12.2181 10.3187 12.3962 10.3187 12.5415 10.4019L19.8024 14.5938V14.595C19.9477 14.6782 20.0368 14.8329 20.0368 15.0005C20.0368 15.168 19.9477 15.3227 19.8024 15.4059V15.4056Z" fill="white"/>
    </svg>

  {% when 'cup' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
      <path d="M15.4674 2.36827H13.5975V1.44976C13.5975 0.944579 13.1767 0.53125 12.6625 0.53125H5.18269C4.66845 0.53125 4.24771 0.944579 4.24771 1.44976V2.36827H2.37776C1.34929 2.36827 0.507812 3.19493 0.507812 4.20529V5.12379C0.507812 7.46599 2.30296 9.37649 4.61235 9.66123C5.20139 11.039 6.4636 12.0769 7.98761 12.38V15.2274H5.18269C4.66845 15.2274 4.24771 15.6407 4.24771 16.1459C4.24771 16.6511 4.66845 17.0644 5.18269 17.0644H12.6625C13.1767 17.0644 13.5975 16.6511 13.5975 16.1459C13.5975 15.6407 13.1767 15.2274 12.6625 15.2274H9.85756V12.38C11.3816 12.0769 12.6438 11.039 13.2328 9.66123C15.5422 9.37649 17.3374 7.46599 17.3374 5.12379V4.20529C17.3374 3.19493 16.4959 2.36827 15.4674 2.36827ZM2.37776 5.12379V4.20529H4.24771V7.71399C3.16314 7.32822 2.37776 6.31786 2.37776 5.12379ZM15.4674 5.12379C15.4674 6.31786 14.682 7.32822 13.5975 7.71399V4.20529H15.4674V5.12379Z" fill="white"/>
    </svg>

  {% when 'arrow' %}
    <svg
      class="{{ classes }}"
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 15 15"
      fill="currentColor"
    >
      <path d="M8.77953 3.96715C8.5525 4.19419 8.5525 4.56094 8.77953 4.78797L11.0382 7.04669H2.20714C1.88696 7.04669 1.625 7.30865 1.625 7.62883C1.625 7.94901 1.88696 8.21097 2.20714 8.21097H11.0441L8.78535 10.4697C8.55832 10.6967 8.55832 11.0635 8.78535 11.2905C9.01239 11.5175 9.37914 11.5175 9.60617 11.2905L12.8604 8.03633C13.0874 7.80929 13.0874 7.44254 12.8604 7.21551L9.60035 3.96715C9.37914 3.74012 9.00657 3.74012 8.77953 3.96715Z" fill=""/>
    </svg>

  {% when 'accordion' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="23"
      height="26"
      viewBox="0 0 23 26"
      :class="accordion === {{ forloop.index }} ? 'fill-black' : 'fill-white'"
      fill="currentColor"
    >
      <g clip-path="url(#clip0_1803_7568)">
        <path d="M11.6814 6.45844L13.8979 9.00253C14.2493 9.40587 14.817 9.40587 15.1684 9.00253C15.5198 8.5992 15.5198 7.94766 15.1684 7.54433L12.3121 4.25562C11.9607 3.85229 11.3931 3.85229 11.0417 4.25562L8.18543 7.54433C7.83402 7.94766 7.83402 8.5992 8.18543 9.00253C8.53683 9.40587 9.10447 9.40587 9.45587 9.00253L11.6814 6.45844ZM11.6814 19.2203L9.46488 16.6762C9.11348 16.2729 8.54584 16.2729 8.19444 16.6762C7.84304 17.0795 7.84304 17.7311 8.19444 18.1344L11.0507 21.4231C11.4021 21.8264 11.9697 21.8264 12.3211 21.4231L15.1774 18.1447C15.5288 17.7414 15.5288 17.0899 15.1774 16.6865C14.826 16.2832 14.2583 16.2832 13.9069 16.6865L11.6814 19.2203Z" fill=""/>
      </g>
      <defs>
        <clipPath id="clip0_1803_7568">
          <rect width="21.6246" height="24.8204" fill="white" transform="translate(0.867188 0.429688)"/>
        </clipPath>
      </defs>
    </svg>

  {% when 'arrow-dropdown' %}
    <svg
      :class="show ? 'rotate-180 duration-200' : 'rotate-0 duration-200'"
      xmlns="http://www.w3.org/2000/svg"
      width="19"
      height="14"
      viewBox="0 0 19 14"
      fill="none"
    >
      <path d="M10.1147 12.8618C9.69334 13.4092 8.86787 13.4092 8.44651 12.8618L0.557687 2.6139C0.0248557 1.92174 0.518283 0.919199 1.39179 0.919199L17.1694 0.919201C18.0429 0.919201 18.5364 1.92174 18.0035 2.6139L10.1147 12.8618Z" fill="#2A4E8B"/>
    </svg>
{% endcase %}
