<!doctype html>
<html lang="{{ request.locale.iso_code | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
    <title>
      {%- if template.name == 'index' -%}
        {{ page_title }}
      {%- else -%}
        {{ page_title -}}
        {%- if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}
        {% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} - {{ shop.name }}{% endunless -%}
      {%- endif %}
    </title>

    <!-- DNS prefetches -->
    <link rel="dns-prefetch" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://fonts.shopify.com">
    <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">

    <!-- Preconnects -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Preloads -->
    <!-- Preload JS -->
    {{ 'bundle.js' | asset_url | preload_tag: as: 'script' }}

    {%- if page_description -%}
      <meta
        name="description"
        content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}"
      >
    {%- endif -%}

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {% endif %}

    {% render 'social-meta-tags' %}
    {% render 'structured-data' %}

    {% render 'custom-redirects' %}
    {% render 'js-variables' %}
    {% render 'css-variables' %}
    {% render 'fonts' %}

    {{ 'bundle.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- header hook for Shopify plugins -->
    {% assign content_for_header = content_for_header | remove: 'previewBarInjector.init()' %}
    {{ content_for_header }}

    <script>
      <!-- alpineJS polyfill for <iso13 -->
      if (typeof window.queueMicrotask !== 'function') {
        window.queueMicrotask = function (callback) {
          Promise.resolve()
            .then(callback)
            .catch((e) =>
              setTimeout(() => {
                throw e;
              })
            );
        };
      }
    </script>
  </head>

  <body x-data class="min-h-screen">
    {% section 'mobile-menu' %}
    {% section 'cart-drawer' %}

    <div
      id="app"
      class="flex min-h-screen flex-col font-sans"
      x-data
    >
      {% unless request.path contains '/tools/recurring/' %}
        {% sections 'header-group' %}
      {% else %}

      {% endunless %}

      <main
        id="main"
        role="main"
        class="flex-1"
      >
        {{ content_for_layout }}
      </main>
      {% sections 'footer-group' %}
    </div>

    <!-- webpack bundle -->
    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
